.modalContainer {
  width: 450px;
  height: 600px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.titleCloseBtn {
  display: flex;
  justify-content: space-between;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

h1 {
  font-size: 30px;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.modalContainer .footer button {
  margin: 15px;
}

//.body {
//  margin-top: 25px;
//  display: flex;
//  flex-direction: column;
//}

#outlined-search {
  width: 350px;
}